{% extends "base.html" %}
{% block content %}
<h2>
    Add department
</h2>
<form action="" method="POST" class="border border-primary rounded mt-1 mb-3 p-3">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    <div class="form-group">
        {{form.title.label}}
        {{form.title(class="form-control")}}
        {% for error in form.title.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.chief.label}}
        {{form.chief(class="form-control")}}
        {% for error in form.chief.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.members.label}}
        {{form.members(class="form-control")}}
        {% for error in form.members.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.email.label}}
        {{form.email(class="form-control", type="email")}}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <div>
        {{form.submit(class="btn btn-primary btn-lg", type="submit")}}
    </div>
</form>
{% endblock %}
