{% extends "base.html" %}
{% block content %}
<h2>
    Add job
</h2>
<form action="" method="POST" class="border border-primary rounded mt-1 mb-3 p-3">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    <div class="form-group">
        {{form.job.label}}
        {{form.job(class="form-control")}}
        {% for error in form.job.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.team_leader.label}}
        {{form.team_leader(class="form-control")}}
        {% for error in form.team_leader.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.work_size.label}}
        {{form.work_size(class="form-control")}}
        {% for error in form.work_size.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.collaborators.label}}
        {{form.collaborators(class="form-control")}}
        {% for error in form.collaborators.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.category.label}}
        {{form.category(class="form-control")}}
        {% for error in form.category.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group form-check">
        {{form.is_finished()}}
        {{form.is_finished.label}}
        {% for error in form.is_finished.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <div>
        {{form.submit(class="btn btn-primary btn-lg", type="submit")}}
    </div>
</form>
{% endblock %}
