<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">
            Миссия колонизация Марса
        </a>
        {% if current_user.is_authenticated %}
        <div>
            <span class="navbar-text text-white">
                {{current_user.name}} {{current_user.surname}}
            </span>
            <a href="/logout" class="btn btn-secondary mx-3">Log out</a>
        </div>
        {% else %}
        <div class="btn-group mx-3" role="group" aria-label="login-register-group">
            <a href="/login" class="btn btn-success" role="button">Log in</a>
            <a href="/register" class="btn btn-primary" role="button">Register</a>
        </div>
        {% endif %}
    </nav>
    <h4 class="text-muted m-2">
        И на Марсе будут яблони цвести!
    </h4>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
