{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>
        <strong>Departments</strong>
    </h1>
    <div>
        <a href="/index" class="btn btn-secondary" role="button">Go to jobs</a>
    </div>
</div>
{% if current_user.is_authenticated %}
<a href="/adddep" class="btn btn-secondary btn-block my-3" role="button">Add department</a>
{% endif %}
{% for item in departments %}
<div class="mb-5">
    <h4>
        Action #{{loop.index}}
    </h4>
    <table class="table mb-0">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title of department</th>
                <th scope="col" class="text-center">Chief</th>
                <th scope="col" class="text-center">Members</th>
                <th scope="col" class="text-center">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{item.title}}</td>
                <td class="text-center">{{item.user.name}} {{item.user.surname}}</td>
                <td class="text-center">{{item.members}}</td>
                <td class="text-center">{{item.email}}</td>
            </tr>
        </tbody>
    </table>
    {% if current_user.id == 1 or item.user == current_user %}
    <div class="btn-group" role="group" aria-label="Delete edit group">
        <a href="/editdep/{{item.id}}" class="btn btn-warning" role="button">Edit department</a>
        <a href="/deldep/{{item.id}}" class="btn btn-danger" role="button">Delete department</a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
