{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form action="" method="POST" class="border border-primary rounded mt-1 mb-3 p-3">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    <div class="form-group">
        {{form.email.label}}
        {{form.email(class="form-control", type="email")}}
        {% for error in form.email.errors%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{form.password.label}}
        {{form.password(class="form-control", type="password")}}
        {% for error in form.email.errors%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="form-group form-check">
        {{form.remember(class="form-check-input")}}
        {{form.remember.label}}
        {% for error in form.remember.errors%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <div>
        {{form.submit(type="submit", class="btn btn-primary btn-lg")}}
    </div>
</form>
{% endblock %}
