{% extends "base.html" %}

{% block content %}
<h2>Register form</h2>
<form action="#" method="post" class="border border-primary rounded mt-1 mb-3 p-3">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control", type="email")}}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password")}}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password_again.label }}
        {{ form.password_again(class="form-control", type="password")}}
        {% for error in form.password_again.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.surname.label }}
        {{ form.surname(class="form-control")}}
        {% for error in form.surname.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control")}}
        {% for error in form.name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.age.label }}
        {{ form.age(class="form-control")}}
        {% for error in form.age.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.position.label }}
        {{ form.position(class="form-control")}}
        {% for error in form.position.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="form-group">
        {{ form.speciality.label }}
        {{ form.speciality(class="form-control")}}
        {% for error in form.speciality.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.address.label }}
        {{ form.address(class="form-control")}}
        {% for error in form.address.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div class="form-group">
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <div>
        {{ form.submit(type="submit", class="btn btn-primary btn-lg") }}
    </div>
</form>
{% endblock %}