{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <h1>Nostalgy</h1>
    <h3>{{user["name"]}} {{user["surname"]}}</h3>
    <p>Hometown {{user["city_from"]}}</p>
    <img src="{{map_url}}" alt="Map">
</div>
{% endblock %}