{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>
        <strong>Works log</strong>
    </h1>
    <div>
        <a href="/departments" class="btn btn-secondary" role="button">Go to departments</a>
    </div>
</div>
{% if current_user.is_authenticated %}
<a href="/addjob" class="btn btn-secondary btn-block my-3" role="button">Add job</a>
{% endif %}
{% for item in jobs %}
<div class="mb-5">
    <h4>
        Action #{{loop.index}}
    </h4>
    <table class="table mb-0">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title of activity</th>
                <th scope="col" class="text-center">Team leader</th>
                <th scope="col" class="text-center">Duration</th>
                <th scope="col" class="text-center">Collaborators</th>
                <th scope="col" class="text-center">Hazard category</th>
                <th scope="col" class="text-center">Is finished</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{item.job}}</td>
                <td class="text-center">{{item.user.name}} {{item.user.surname}}</td>
                <td class="text-center">{{item.work_size}} hours</td>
                <td class="text-center">{{item.collaborators}}</td>
                <td class="text-center">{{item.categories[0].id}}</td>
                <td class="text-center">
                    {% if item.is_finished %}
                    Finished
                    {% else %}
                    Is not finished
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% if current_user.id == 1 or item.user == current_user %}
    <div class="btn-group" role="group" aria-label="Delete edit group">
        <a href="/editjob/{{item.id}}" class="btn btn-warning" role="button">Edit job</a>
        <a href="/deljob/{{item.id}}" class="btn btn-danger" role="button">Delete job</a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
